/node_modules
/node_modules/*
/node_modules/**/*

!/**/package.json
.env
# react-native-config codegen
ios/tmp.xcconfig

# Expo
.expo
.expo/*
.expo/**/*
.expo/**/**/*

# React Native
android
android/*
android/**/*
android/**/**/*

# React Native
ios
ios/*
ios/**/*
ios/**/**/*